
// Colors
//// Background
$bg-dark: #122439;
$bg-middle: #ececec;
$bg-light: #ffffff;
$text-color-light: #ffffff;
$text-color-middle: #bcbebc;
$text-color-dark: #504f51;

$text-color-evidence: #038484;
$bg-color-evidence: #d5e7e8;



// Typography
$main-font: 'Roboto', sans-serif;
 
// Botton
$btn-cta-dark: #058283;

// Icons
$icons: #82c1c1;


// Text-Evidence
// $text-evidence {
//   color: $text-color-evidence;
//   background-color: $bg-color-evidence;
//   padding: 10px;
// }

