
// Colors
//// Background
$bg-dark: #122439;
$bg-middle: #eef1ed;
$bg-light: #ffffff;
$text-color-light: #ffffff;
$text-color-middle: #bcbebc;
$text-color-dark: #504f51;

$text-color-evidence: #038484;
$bg-color-evidence: #d5e7e8;



// Typography
$main-font: 'Montserrat', sans-serif;
 
// Botton
$btn-cta-dark: #038484;


